<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/auth/layout::dynamic(~{::body})}">
<head>

<meta charset="utf-8">
<title>Insert title here</title>

</head>
<body ng-app="app" ng-controller="ctrl">
	<div class="col-lg-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Danh sách đơn hàng</h4>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Tên người dùng</th>
								<th>Mã đơn hàng</th>
								<th>Ngày mua</th>
								<th>Tổng cộng</th>
								<th>Trạng thái</th>
								<th>Hành động</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in items">
								<td>{{item.username}}</td>
								<td>{{item.name}}</td>
								<td>{{item.createdate}}</td>
								<td>{{item.total}}</td>
								<td><label class="badge badge-success">{{item.status}}</label></td>
								<td class="text-danger">
									<button class="btn btn-info" ng-click="update(item.id)">Giao</button>
									<i style="font-size: 30px" class="mdi mdi-airplane"></i>
									<button class="btn btn-info" ng-click="delete(item.id)">Hủy
										đơn</button> <i style="font-size: 30px" class="fa-solid fa-xmark"></i>

								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div
			class="d-sm-flex justify-content-center justify-content-sm-between">
			<span
				class="text-muted text-center text-sm-left d-block d-sm-inline-block">Bản
				quyền © 2022. Bản Cao cấp <a href="https://www.bootstrapdash.com/"
				target="_blank">MXgear company</a> Đã đăng ký Bản quyền.
			</span> <span
				class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Sản
				phẩm làm thủ công & được tạo bởi Mr.Minh<i
				class="ti-heart text-danger ml-1"></i>
			</span>
		</div>
	</footer>
<script>
    let host = "http://localhost:8080/rest";
    const app = angular.module("app",[]);
    
    app.controller("ctrl", function($scope, $http){
        $scope.form={}
        $scope.items= []
        $scope.reset = function(){
            $scope.form.name = null;
            
        }
        $scope.load_all = function(){
            var url = `${host}/detailt`;
            $http.get(url).then(resp => {
                $scope.items = resp.data;
                console.log("Success", resp)
            }).catch(error => {
                console.log("Error",error)
            })
        }

        $scope.update = function(id){
            var index = $scope.items.findIndex(item => item.id == id);
            var item = angular.copy($scope.items[index]);
            item.status = true;
            var url = `${host}/details/${id}`;
            $http.put(url, item).then(resp => {
                $scope.items[index] = resp.data;
                $scope.load_all();
                console.log("Success", resp)
            }).catch(error => {
                console.log("Error",error)
            })
           
        }
        $scope.delete = function(id){
            var url = `${host}/details/${id}`;
            $http.delete(url).then(resp => {
                var index = $scope.items.findIndex(item => item.id == id);
                $scope.items.splice(index,1);
                $scope.reset();
                console.log("Success", resp)
            }).catch(error => {
                console.log("Error",error)
            })
        }
        $scope.load_all();

    })
</script>
</body>