<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/site/layout::dynamic(~{::body})}">
<head>

<meta charset="utf-8">
<title>Insert title here</title>

	
</head>
<body ng-app="MyApp" ng-controller="MyController">
	<div class="fh5co-loader"></div>
	
	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(imgs/bg.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>VỀ CHÚNG TÔI</h1>
							<h2>Chúng tôi cung cấp những công nghệ tuyệt vời </h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div id="fh5co-about">
		<div class="container">
			<div class="about-content">
				<div class="row animate-box">
					<div class="col-md-6">
						<div class="desc">
							<h3>Lịch sử công ty</h3>
							<p>Công ty non trẻ được thành lập năm 2022 nhưng đã có nhiều thành tựu to lớn</p> 
							<p>Người thành lập Chủ tịch Bùi Đức Minh Là 1 trong những doanh nhân đi đầu trong start up</p>
						</div>
						<div class="desc">
							<h3>Sứ mệnh &amp; Tầm nhìn</h3>
							<p>Chúng tôi mang đến cho người dùng những sản phẩm chất lượng nhất và mới nhất </p> 
							<p>Giúp cho tất cả mọi người có thể trải nghiệm những công nghệ tiên tiến</p>
						</div>
					</div>
					<div class="col-md-6">
						<img class="img-responsive" src="imgs/bg1.jpg" alt="about">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
    <script >
        var app = angular.module('MyApp', [])
        app.controller('MyController', function ($scope) {
            $scope.IsVisible = false;
        });
    </script>
</body>
</html>