<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/site/layout::dynamic(~{::body})}">
<head>

<meta charset="utf-8">
<title>Insert title here</title>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


</head>
<body>
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2><i class="fa fa-shopping-basket" aria-hidden="true"></i> Buy Now For The Best Price</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-content-right">
                        <div class="product-breadcroumb">
                            <a href="">Home</a>
                            <a href="">Shop</a>
                            <a href="">Shop detail</a>
                        </div>
                        
                        <div class="container">
						<div class="card">
							<div class="container-fliud">
								<div class="wrapper row">
									<div class="preview col-md-6">
										
										<div class="preview-pic tab-content">
										  <div class="tab-pane active" id="pic-1"><img th:src="@{/imgs/__${loadInfo.image}__}" /></div>
										  <div class="tab-pane" id="pic-2"><img th:src="@{/imgs/__${loadInfo.image}__}" /></div>
										  <div class="tab-pane" id="pic-3"><img th:src="@{/imgs/__${loadInfo.image}__}" /></div>
										  <div class="tab-pane" id="pic-4"><img th:src="@{/imgs/__${loadInfo.image}__}" /></div>
										  <div class="tab-pane" id="pic-5"><img th:src="@{/imgs/__${loadInfo.image}__}" /></div>
										</div>
										<ul class="preview-thumbnail nav nav-tabs">
										  <li class="active"><a data-target="#pic-1" data-toggle="tab"><img th:src="@{/imgs/__${loadInfo.image}__}" /></a></li>
										  <li><a data-target="#pic-2" data-toggle="tab"><img th:src="@{/imgs/__${loadInfo.image}__}"  /></a></li>
										  <li><a data-target="#pic-3" data-toggle="tab"><img th:src="@{/imgs/__${loadInfo.image}__}"  /></a></li>
										  <li><a data-target="#pic-4" data-toggle="tab"><img th:src="@{/imgs/__${loadInfo.image}__}"  /></a></li>
										  <li><a data-target="#pic-5" data-toggle="tab"><img th:src="@{/imgs/__${loadInfo.image}__}"  /></a></li>
										</ul>
										
									</div>
									<div class="details col-md-6">
										<h3 class="product-title" th:text="${loadInfo.name}"></h3>
										<div class="rating">
											<div class="stars">
												<span class="fa fa-star checked"></span>
												<span class="fa fa-star checked"></span>
												<span class="fa fa-star checked"></span>
												<span class="fa fa-star"></span>
												<span class="fa fa-star"></span>
											</div>
											<span class="review-no">41 đánh giá</span>
										</div>
										<h4 class="price"> MÔ TẢ: </h4>
										<p class="product-description"  th:text="${loadInfo.describle}">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
										<h4 class="price">Giá sản phẩm: <span>$</span><span th:text = "${loadInfo.price}">180</span></h4>
										<p> <span  th:text = "${loadInfo.review}"></span>  <strong>(87 votes)</strong>	</p>
										<h5 class="sizes">Xuất xứ:
											<span class="text-info" th:text = "${loadInfo.origin}">s</span>
										</h5>
										<h5 class="colors">Thương hiệu:
											<span class="text-info" th:text = "${loadInfo.manufacture}"></span>
										</h5>
										
										<div role="tabpanel">
				                            <ul class="product-tab" role="tablist">
				                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Chi tiết</a></li>
				                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Đánh giá</a></li>
				                            </ul>
				                            
				                            <div class="tab-content">
				                                <div role="tabpanel" class="tab-pane fade in active" id="home">
				                                    <h2>Thông tin sản phẩm</h2>  
				                                </div>
				                                <div role="tabpanel" class="tab-pane fade" id="profile">
				                                    <h2 >Đánh giá của người dùng: </h2>
				                                    <div class="submit-review">
				                                        <div class="rating-chooser">
				                                            <p>Tỉ lệ</p>
				                                            <div class="rating-wrap-post">
				                                                <i class="fa fa-star"></i>
				                                                <i class="fa fa-star"></i>
				                                                <i class="fa fa-star"></i>
				                                                <i class="fa fa-star"></i>
				                                                <i class="fa fa-star"></i>
				                                            </div>
				                                        </div>			                                        
				                                    </div>
				                                </div>
				                            </div>
				                        </div>
										
										<div class="action">
											<a th:href="@{/cart/add/__${loadInfo.id}__}" class="add-to-cart btn btn-default" type="button">Thêm vào giỏ hàng</a>
											<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
                        <div class="related-products-wrapper">
                            <h2 class="related-products-title">Sản phẩm liên quan</h2>
                            <div class="related-products-carousel">
                            	<div th:each="item : ${items}">
                                <div class="single-product">
                                    <div class="product-f-image">
                                        <img th:src="@{/imgs/__${item.image}__}" alt="">
                                        <div class="product-hover">
                                            <a th:href="@{/cart/add/__${item.id}__}" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</a>
                                        <a th:href="@{/product__${item.id}__}" class="view-details-link"><i class="fa fa-link"></i> Xem Chi Tiết</a>
                                        </div>
                                    </div>

                                    <h2><a href="" th:text = "${item.name}"></a></h2>

                                    <div class="product-carousel-price">
                                        <ins th:text="${item.price}">$700.00</ins> <del>$800.00</del>
                                    </div> 
                                </div>
                                </div>
                                
                                
                                                                   
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
	
</body>
</html>