<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/site/layout::dynamic(~{::body})}" >
	
<head>

<meta charset="utf-8">
<title>Insert title here</title>
	
</head>
<body ng-app="app" ng-controller="ctrl">	
	<!-- Products Start -->
	<div>
		<br>
		<h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
			<span class="bg-secondary pr-3">LET'S SHOPPING</span>
		</h2>
		<div class="product-breadcroumb">
	        <a href="">Home</a>
	        <a href="">Shop</a>
	    </div>
	    <div class="row" >
	    <div class="col-lg-10" >
	    <div class=" collapse navbar-collapse js-navbar-collapse col-lg-12"  >
	        <ul class="nav navbar-nav " >
	        <li class="dropdown bg-info " style="color :white ; font-size: large;">
	          <a href="#" class="dropdown-toggle " style="color :black;  " data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-list"></i>  <span>Sắp xếp Tên</span ><span class="caret"></span></a>
	          <ul class="dropdown-menu " role="menu" >  
	          	<li >	
	          		<a href="" ng-click="load_allaz(0)" class="nav-item nav-link"><i class="fa fa-hand-o-right"></i> <span  > A đến Z</span></a>			
					<a href="" ng-click="load_allza(0)" class="nav-item nav-link"><i class="fa fa-hand-o-right"></i> <span  > Z đến A</span></a>	
				</li>
	          </ul>
	        </li>
	       </ul>
		</div>
		<div class=" collapse navbar-collapse js-navbar-collapse col-lg-12" >
	        <ul class="nav navbar-nav " >
	        <li class="dropdown bg-info " style="color :white ; font-size: large;">
	          <a href="#" class="dropdown-toggle " style="color :black;  " data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-list"></i>  <span>Sắp xếp Giá</span ><span class="caret"></span></a>
	          <ul class="dropdown-menu " role="menu" >  
	          	<li >	
	          		<a href="" ng-click="load_alllow(0)"  class="nav-item nav-link"><i class="fa fa-hand-o-right"></i> <span  > Thấp đến cao</span></a>			
					<a href="" ng-click="load_allhigh(0)" class="nav-item nav-link"><i class="fa fa-hand-o-right"></i> <span  > Cao đến thấp</span></a>			
				</li>
	          </ul>
	        </li>
	       </ul>
		</div>
		</div>
		
		<div class="col-lg-2" >
            <div class="product-pagination text-center" >
                <nav >
                  <ul class="pagination">
                    <li class="page-item ${(items.number==0)?'disabled':''}" >
                      <a class="page-link" href="" ng-click="load_all(cur-1)" style="background: red important!"> 
                        <span aria-hidden="true">&laquo; Trước</span>
                      </a>
                    </li>
                    <li class="page-item disabled" ><a class="page-link"> <span >{{cur+1}}</span></a></li>
                    <li class="page-item ${(items.number>=items.totalPages-1)?'disabled':''}">
                      <a class="page-link" href="" ng-click="load_all(cur+1)" >
                        <span aria-hidden="true" >Sau &raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>                        
            </div>
        </div>
		</div>
		<br>
		<!-- Pagination -->
		<div >
        <div class="row">
            
        </div>
		<!-- Pagination -->
		
		<div class="row px-xl-5">
			<div  ng-repeat="item in items">
				<div class="col-lg-2 col-md-4 col-sm-6 pb-1 " style="margin-top: 30px; " >
					<div class="product-item bg-light mb-4 single-product col-lg-12" style="border-style: dotted; border-color: orangered;">
						<div class="product-img position-relative overflow-hidden">
							<img class=" w-100" src="/imgs/{{item.image}}" alt="">
							<div class="product-action">
								<a class="btn btn-outline-dark btn-square" href="/shop/detail/${item.id}"></a> 
							</div>
							<div class="product-hover">
			                   <a href="/cart/add/{{item.id}}" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
			                   <a href="/product{{item.id}}" class="view-details-link"><i class="fa fa-link"></i> See details</a>
			               </div>	
						</div>
						<div class="text-center py-4">
							<div >{{item.id}}</div>
							<a class="h6 text-decoration-none text-truncate" th:href="@{/shop/detail/${item.id}}"> <span>{{item.name}}</span> </a>
							
							<div class="d-flex align-items-center justify-content-center mt-2">
								<h5 >{{item.price}} $ </h5>
							</div>
							<div
									class="d-flex align-items-center justify-content-center mb-1"> <small 
									class="fa fa-star text-primary mr-1"></small> <small
									class="fa fa-star text-primary mr-1"></small> <small
									class="fa fa-star text-primary mr-1"></small> <small
									class="fa fa-star text-primary mr-1"></small> <small
									class="fa fa-star text-primary mr-1"></small> <small>(99)</small>
							</div>
						</div> 
					</div> 
				</div> 
			</div>
		</div>
	</div>
	<!-- Products End -->
	<!-- Bottom -->
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>   
        </div>
    </div>

    <script>
	    let host = "http://localhost:8080/rest";
	    const app = angular.module("app",[]);
	    app.controller("ctrl", function($scope, $http){
	        $scope.form={}
	        $scope.items= []
	        $scope.cur = 0;
	        $scope.load_all = function(no){
	        	if(no<0){no = 0} 
	        	$scope.cur = no;
	            var url = `${host}/products0/${no}`;
	            $http.get(url).then(resp => {
	                $scope.items = resp.data;
	        
	                console.log("Success", resp)
	            }).catch(error => {
	                console.log("Error",error)
	            })
	        }
	        $scope.load_allaz = function(no){
	        	if(no<0){no = 0} 
	        	$scope.cur = no;
	            var url = `${host}/productsaz/${no}`;
	            $http.get(url).then(resp => {
	                $scope.items = resp.data;
	        
	                console.log("Success", resp)
	            }).catch(error => {
	                console.log("Error",error)
	            })
	        }
	        $scope.load_allza = function(no){
	        	if(no<0){no = 0} 
	        	$scope.cur = no;
	            var url = `${host}/productsza/${no}`;
	            $http.get(url).then(resp => {
	                $scope.items = resp.data;
	                console.log("Success", resp)
	            }).catch(error => {
	                console.log("Error",error)
	            })
	        }
	        $scope.load_alllow = function(no){
	        	if(no<0){no = 0} 
	        	$scope.cur = no;
	            var url = `${host}/productslow/${no}`;
	            $http.get(url).then(resp => {
	                $scope.items = resp.data;
	                console.log("Success", resp)
	            }).catch(error => {
	                console.log("Error",error)
	            })
	        }
	        $scope.load_allhigh = function(no){
	        	if(no<0){no = 0} 
	        	$scope.cur = no;
	            var url = `${host}/productshigh/${no}`;
	            $http.get(url).then(resp => {
	                $scope.items = resp.data;
	                console.log("Success", resp)
	            }).catch(error => {
	                console.log("Error",error)
	            })
	        }
	        
	        $scope.load_all(0);
	        
	    })
	</script>

</body>

</html>